

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.card {
  order: 2px solid;
  border-color: rgb(165, 54, 54) rgb(165, 54, 54) rgb(165, 54, 54);
  background-color: azure;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  width: 600px;
  height: auto;
}

@media (max-width: 300px) {
  .card {
    width: 400px;
    font-size: 12px;
  }
}

h3 {
  display: flex;
  justify-content: center;
  color: 'white';
  font-size: '45';
  align-items: 'center'; 
}

@media (max-width: 766px) {
  h3 {
    font-size: 14px;
  }
}

form {
  padding: 30px;
}

.title {
  padding: 20px;
}

@media (max-width: 766px) {
  .title {
    font-size: 18px;
  }
}