
.wrapper {

  height: 100%;
}

.section {
    padding: 8vw;
    background-color: grey;
    overflow-y: scroll;
    height: 80vh;
    width: auto;
} 

.section2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  width: auto;
  color: white;
  background-color:black;
} 

@media (min-width: 30em) {
  .section {
    padding-left: 14vw;
    padding-right: 14vw;
  }
}