
.center {
  margin: auto;
  width: 50%;
  max-width: 100px;
  min-width: 20px;
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 33px;
}
div.loader {
  font-size: 100px;
}

.loaded {
  font-size: 8em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .loaded2 {
  display: none;
} */
